head
	title STF Unavailable
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/style.css')
	link(rel='stylesheet', href='/css/main.css')
	link(rel='stylesheet', href='/css/failover.css')
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport', content='width=device-width, , initial-scale=1')

body
	.wrap
		.pre
		.container
			img(src='/img/logoname.png')
			h1 STF Unavailable
			p Whether due to scheduled maintenance or unforseen events, the Student Technology Fee website is currently unavailable. Our webmaster has been made aware of the event. Please check back later!
		.post