footer#footer
	.container
		ul.row
			li: a(href='/about') About Us
			li#footerSpace /
			li: a(href='/faq') FAQ
			li#footerSpace /
			li: a(href='/contact') Contact Us
			li#footerSpace &nbsp;
			li Student Tech Fee &copy;
	//-.container
		ul.row

//- Supplementals
	Annual Reports
	Search
	Org Code and Budget Code
	Sidebar meetings